.selected{
    background-color: #CFD8DC !important;
    color: white;
}

.operations{
    list-style-type: none;
    padding: 0;
}

.operations li{
    position: relative;
    cursor: pointer;
    background-color: #eee;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.operations li:hover{
    color: #607d8b;
    background-color: #ddd;
    left: .1em;
}
